.app-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f8; /* light blueish grey */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  padding: 20px;
}

header {
  background-color: #0077b6; /* blue */
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

header:hover {
  background-color: #005f8a; /* darker blue */
}

footer {
  background-color: #0077b6; /* blue */
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-top: 80px; /* Adjust based on header height */
  margin-bottom: 80px; /* Adjust based on footer height */
  flex: 1;
  align-items: center; /* Center the content horizontally */
}

.card, .monitor-form-container, .diagnostic-plots-container, .data-description-container {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff; /* white */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* Ensure the row takes full width */
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-column > * {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}