.data-description-container {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa; /* light grey */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  margin-top: 40px; /* Add more space between the data description and the header */
  transition: transform 0.3s ease-in-out;
}

.data-description-container:hover {
  transform: translateY(-10px);
}

.data-description-container h2 {
  color: #0077b6; /* blue */
  font-weight: 600;
}

.data-description-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.data-description-container a {
  color: #0077b6; /* blue */
  text-decoration: none;
}

.data-description-container a:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.card {
  background-color: #ffffff; /* white */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}
